<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps</title>
  </head>
  <body>
    <header>
      <a href="#wrapper" class="skip-to-content">Direct main menu</a>
      <h1>CHASPER <br>Restaurant</h1>
      <a id="hamburger" href="#">☰</a>      
    <nav id="drawer">
      <ul>
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Favorite</a></li>
          <li class="nav-item"><a href="https://www.instagram.com/n.indryy/" class="nav-link">About Us</a></li>
      </ul>
    </nav>      
  </header>

    <main>
      
      <!-- hero jumbotron-->
      <div class="hero">
        <img src="./images/heros/hero-image_3.jpg" width="450" alt="rest image" class="jumbo-image" />
        <h1>Welcome to ChasperRest</h1>
        <p>Find your favorite restaurant<br></p>
        <a href="#wrapper" class="btn"><Strong>HERE</Strong></a>
      </div>
      <!-- hero jumbotron -->
      <div class="wrapper" id="wrapper">
        <h2>Daftar Restoran</h2>
        <div class="restaurant-list">
          <div class="restaurant" id="restaurant_6c7bqjgi84kcowlqdz">
            <img src="https://restaurant-api.dicoding.dev/images/medium/41" alt="Bring Your Phone Cafe">
            <div class="restaurant-info">
              <h3>Bring Your Phone Cafe</h3>
              <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p>City: Medan</p>
              <p>Rating: 4.6</p>
            </div>
          </div>
          <div class="restaurant" id="restaurant_ljx8i0qu2uckcowlqdz">
            <img src="https://restaurant-api.dicoding.dev/images/medium/07" alt="Run The Gun">
            <div class="restaurant-info">
              <h3>Run The Gun</h3>
              <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p>City: Bali</p>
              <p>Rating: 4.6</p>
            </div>
          </div>
          <div class="restaurant" id="restaurant_fe8bbxoazddkcowlqdz">
            <img src="https://restaurant-api.dicoding.dev/images/medium/29" alt="Pangsit Express">
            <div class="restaurant-info">
              <h3>Pangsit Express</h3>
              <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p>City: Ternate</p>
              <p>Rating: 4.8</p>
            </div>
          </div>
          <div class="restaurant" id="restaurant_ik1zljmlf68kcowlqdz">
            <img src="https://restaurant-api.dicoding.dev/images/medium/38" alt="Ducky Duck">
            <div class="restaurant-info">
              <h3>Ducky Duck</h3>
              <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p>City: Malang</p>
              <p>Rating: 4.7</p>
            </div>
          </div>
          <div class="restaurant" id="restaurant_9jpuzkm6n6jkcowlqdz">
            <img src="https://restaurant-api.dicoding.dev/images/medium/40" alt="Kafein">
            <div class="restaurant-info">
              <h3>Run The Gun</h3>
              <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p>City: Bali</p>
              <p>Rating: 3.8</p>
            </div>
          </div>
          <div class="restaurant" id="restaurant_cpl5jpsnuqkkcowlqdz">
            <img src="https://restaurant-api.dicoding.dev/images/medium/08" alt="Makan mudah">
            <div class="restaurant-info">
              <h3>Makan mudah</h3>
              <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p>City: Malang</p>
              <p>Rating: 4.6</p>
            </div>
          </div>
          <div class="restaurant" id="restaurant_iqtf9hmdzvbkcowlqdz">
            <img src="https://restaurant-api.dicoding.dev/images/medium/32" alt="Saya Suka">
            <div class="restaurant-info">
              <h3>Saya Suka</h3>
              <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p>City: Surabaya</p>
              <p>Rating: 3.6</p>
            </div>
  
          </div>
          <div class="restaurant" id="restaurant_8i06gqcc2dpkcowlqdz">
            <img src="https://restaurant-api.dicoding.dev/images/medium/45" alt="Gigitan Cepat">
            <div class="restaurant-info">
              <h3>Gigitan Cepat</h3>
              <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p>City: Aceh</p>
              <p>Rating: 4</p>
            </div>
  
          </div>
          <div class="restaurant" id="restaurant_wf5o19xhxxkcowlqdz">
            <img src="https://restaurant-api.dicoding.dev/images/medium/04" alt="Fairy Cafe">
            <div class="restaurant-info">
              <h3>Fairy Cafe</h3>
              <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <p>City: Malang</p>
              <p>Rating: 3.9</p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <p>&copy; 2024 - ChasperRest</p>
    </footer>
  </body>
</html>
